/angular-flux-frontend/angular-flux-ui/.angular/
/angular-flux-frontend/angular-flux-ui/dist/
/angular-flux-frontend/angular-flux-ui/node/
/angular-flux-frontend/angular-flux-ui/node_modules/
/angular-flux-frontend/angular-flux-ui/target/
/angular-flux-frontend/angular-flux-webapp/target/
/.idea/
/angular-flux-backend/target/
